* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar {
	width: 0.5rem;
	background: var(--gray2);
}
body::-webkit-scrollbar-thumb {
	background: var(--gray);
	opacity: 0.5;
	border-radius: 1.5rem;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background-image: url(https://i.imgur.com/P2eMph0.jpg);
	background-repeat: repeat-x;
	background-position: top;
	background-size: cover;
	height: 50rem;
	background-color: var(--gray2);
}
a {
	color: black;
	text-decoration: none;
}
/* VARIABLES
============================= */
:root {
	--gray: #e5e5e5;
	--gray2: #2c2c2c;
}

/* HEADER
============================== */

.mobile-nav-container {
	display: flex;
	align-items: center;
	background: #e5e5e544;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 9rem;
}
.mobile-nav-logo {
	width: 40%;
	display: flex;
	justify-content: center;
}
.mobile-nav-logo img {
	width: 13rem;
	height: 8rem;
	justify-items: center;
}
.mobile-links-container {
	display: flex;
	width: 60%;
	justify-content: space-around;
}
.mobile-links-container img {
	width: 3rem;
	height: 3rem;
	position: relative;
	top: 0rem;
	transition: all 0.2s ease-out;
}
.mobile-links-container img:hover {
	top: -0.4rem;
}

/* MOBILE MAIN VIDEO 
=========================*/
.main-video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30rem;
	width: 100%;
}
.main-video {
	display: flex;
	border-radius: 1.5rem;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
	width: 35rem;
	height: 21rem;
}

/* MOBILE PRICES 
=====================*/

.precios {
	display: flex;
	justify-content: center;
	padding: 3rem 0;
	color: var(--gray2);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	background-color: var(--gray);
}
.precios h1 {
	font-size: 6.2rem;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.invernada,
.novillos,
.eco,
.granos {
	display: flex;
	flex-direction: column;
	background-color: var(--gray);
	color: var(--gray2);
	border-radius: 2rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	width: 31rem;
	margin: 3rem auto;
	padding: 2rem 0;
	text-align: center;
	font-size: 2rem;
	line-height: 4rem;
}

/* CONTACT
====================== */
.contact {
	margin-top: 10rem;
	color: var(--gray);
	text-align: center;
}
.contactate h2 {
	font-size: 5rem;
}
.contactate p {
	font-size: 2.4rem;
	margin: 1rem;
}
.info-container {
	background-color: var(--gray);
	color: var(--gray2);
	border-radius: 2rem;
	margin: 3rem;
	padding: 1rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.info-container h3 {
	font-size: 2.4rem;
}
.info {
	font-size: 1.8rem;
	display: flex;
	flex-direction: column;
}
.info div {
	margin: 1rem 0;
}
.info img {
	vertical-align: text-bottom;
	margin-right: 1rem;
	width: 2rem;
	height: 2rem;
}

/* ABOUTUS
========================= */
.about {
	background-color: var(--gray);
	width: 100%;
	height: 60rem;
	display: grid;
	grid-template-rows: repeat(2, 20rem);
	grid-template-columns: repeat(2, 50%);
	font-size: 1.6rem;
	color: var(--gray2);
	padding: 1rem 3rem;
}
.about h2 {
	font-size: 3rem;
}
.quienes-somos {
	grid-row: 1;
	grid-column: 1/3;
	text-align: center;
	align-self: self-end;
	padding-bottom: 1rem;
}
.vision {
	text-align: end;
	align-self: self-end;
}

/* FOOTER
==================== */
.footer {
	display: flex;
	color: var(--gray);
	font-size: 1.6rem;
	background-color: var(--gray2);
	height: 4rem;
	width: 100%;
	align-items: center;
}
