/* TABLET
============================== */

/* HEADER
================================ */

.mobile-nav-container {
	display: flex;
	align-items: center;
	background: #e5e5e544;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 10rem;
	position: sticky;
	top: 0;
}
.mobile-nav-logo img {
	width: 14rem;
	height: 9rem;
	justify-items: center;
}
.nav-links {
	font-size: 4rem;
	position: relative;
	top: 0rem;
	transition: all 0.2s ease-out;
}

/* TABLET MAIN VIDEO
==================== */
.main-video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40rem;
	width: 100%;
}
.main-video {
	width: 60rem;
	height: 30rem;
}

/* TABLET PRICES
=================== */
.precios-container {
	margin-top: 4rem;
	display: grid;
	justify-content: center;
	justify-items: center;
	grid-template-columns: 45% 45%;
	grid-template-rows: auto auto;
	row-gap: 4rem;
}
.precios h1 {
	font-size: 9rem;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.invernada,
.novillos,
.eco,
.granos {
	width: 80%;
	margin: 0;
	padding: 0;
}

/* TABLET CONTACT
========================== */
.contact h2 {
	font-size: 7rem;
}
.contact p {
	font-size: 3rem;
}
.info-container h3 {
	font-size: 3.5rem;
}

.info {
	font-size: 2.5rem;
}
.info img {
	width: 2.5rem;
	height: 2.5rem;
}

/* TABLET ABOUT
========================= */

.about {
	font-size: 2rem;
}
.about h2 {
	font-size: 3.7;
}
.vision,
.quienes-somos,
.mision {
	margin: 2rem 0;
}

/* ICONS
======================== */
.fi-br-dollar,
.fi-br-smartphone,
.fi-br-info {
	font-size: 4rem;